h1 { color: darkblue }

body { 
	background: sliver;
	color: darkblue;
	font-size: 24pt;
	font-family: 'Cookie', cursive;
	padding: 10px;
	margin: 20px;
} 

nav li {
	display: inline-block;
	border: 2px solid black;
	background: white;
}

<style type="text/css">body, a:hover {cursor: url(http://cur.cursors-4u.net/user/use-1/use160.cur), progress !important;}</style><a href="http://www.cursors-4u.com/cursor/2011/02/07/harry-potter-magical-wand.html" target="_blank" title="Harry Potter Magical Wand"><img src="http://cur.cursors-4u.net/cursor.png" border="0" alt="Harry Potter Magical Wand" style="position:absolute; top: 0px; right: 0px;" /></a>

